# ChessMaster UZ — muhit o'zgaruvchilari

SECRET_KEY=django-insecure-************************
DEBUG=True

# Gmail SMTP
# App Password olish uchun: https://myaccount.google.com/apppasswords
# (2FA yoqilgan bo'lishi shart)
EMAIL_HOST_USER=**********@gmail.com
EMAIL_HOST_PASSWORD=************** #Paswword joy tashlanmay yoziladi
DEFAULT_FROM_EMAIL=ChessMaster UZ <XXXXXXXXXXXXXXXXXX@gmail.com>
